body, .page1 {
    background-color: rgb(26, 25, 22);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
}

.navBar {
    width: 100%; /* Barre de navigation occupe toute la largeur */
    display: flex;
    justify-content: center;
    position: fixed; /* Barre fixée en haut */
    top: 0; /* Placée tout en haut */
    left: 50%; /* Positionne la barre au milieu */
    transform: translateX(-50%); /* Centre horizontalement */
    z-index: 1000; /* Toujours au-dessus des autres éléments */
    padding: 10px 0;
}

.navBar ul {
    display: flex;
    padding: 10px;
    border-radius: 150px;
    background-color: rgba(26, 25, 22, 0.5); /* Fond semi-transparent pour voir le flou */
    backdrop-filter: blur(10px); /* Effet de flou sur les éléments qui passent derrière */
    -webkit-backdrop-filter: blur(10px); /* Pour compatibilité avec Safari */
}

.navBar li {
    padding: 20px;
    list-style: none;
}

.navBar a {
    padding: 10px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    border: 1px solid white;
    border-radius: 250px;
    transition: all 1s ease-out;
}

.navBar a:hover {
    color: #333;
    background-color: #ffffff75;
    border: rgb(255, 255, 255) 1px solid;
}

.Block-presentation {
    height: 550px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px; /* Décale le bloc en bas de la nav bar */
    margin-bottom: 0px; /* Espace en bas du bloc */
}

.Block-presentation img {
    height: 400px;
    width: 700px;
    border-radius: 20px;
    border-top: 2px solid rgba(85, 54, 222, 0.9);
    border-left: 2px solid rgba(85, 54, 222, 0.9);
    border-bottom: 2px solid rgba(85, 54, 222, 0.9);
    border-right: 2px solid rgba(85, 54, 222, 0.9);
    backdrop-filter: blur(5px);
    box-shadow: 0 0px 50px rgba(85, 54, 222, 0.9);
    box-shadow: 20px 20px 50px rgb(0,0,0,0, 0.5);
    border-radius: 15px;
}

.Block-presentation h1 {
    font-size: 4rem;
    color: #fff;
    text-align: center;
}

/* Sélectionne les mots impairs et leur applique une couleur */
h1 span:nth-child(odd) {
    color: rgba(85, 54, 222, 0.9);
}
  

  

.button-scroll {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-scroll a {
    color: white;
    height: 25px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    text-decoration: none;
}


.titre-projects h2{
    text-align: center;
    color: #fff;
    font-size: 4rem;
    margin-top: 100px;
}

.container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0,0,0,0, 0.5);
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(85, 54, 222, 0.9);
    border-left: 2px solid rgba(85, 54, 222, 0.9);
    border-bottom: 2px solid rgba(85, 54, 222, 0.9);
    border-right: 2px solid rgba(85, 54, 222, 0.9);
    backdrop-filter: blur(5px);
    box-shadow: 0 0px 50px rgba(85, 54, 222, 0.9);

}

.container .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(85, 54, 222, 0.9);
    pointer-events: none;
}

.container .card .content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .content img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 110px;
    width: 80%;
    border-radius: 30px;

}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 0px 25px rgba(85, 54, 222, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    transition: 0.4s;
    border: solid 2px rgba(85, 54, 222, 0.9) ;
} 


.container .card .content a:hover {
    color: rgba(85, 54, 222, 0.9);
}


.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 160px;
}


.titre-langage h2 {
    text-align: center;
    color: #fff;
    font-size: 4rem;
    margin: 50px 0 150px 0;
}

.container2 {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 600px;

}

.container2 img {
    width: 100px;
    height: 100px;
    padding: 30px;
    cursor: pointer;
    transition: 1s;
}

.container2 img:hover {
    transform:scale(1.3);
    z-index: 2;
} 

